*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/workspace.xml
ELApp/.gradle/4.4/fileHashes/fileHashes.bin
ELApp/.gradle/4.4/fileHashes/fileHashes.lock
ELApp/.gradle/4.4/taskHistory/taskHistory.bin
ELApp/.gradle/4.4/taskHistory/taskHistory.lock
ELApp/.gradle/buildOutputCleanup/buildOutputCleanup.lock
ELApp/.gradle/buildOutputCleanup/outputFiles.bin
ELApp/.idea/caches/build_file_checksums.ser
ELApp/.idea/gradle.xml
ELApp/.idea/misc.xml
ELApp/.idea/modules.xml
ELApp/.idea/workspace.xml
ELApp/build.gradle
ELApp/local.properties
ELApp/settings.gradle
