*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
ELApp/.gradle/4.4/taskHistory/taskHistory.bin
.idea/Andriod.iml
.idea/workspace.xml
ELApp/.idea/workspace.xml
ELApp/.idea/workspace.xml
ELApp/.idea/workspace.xml
