*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.bin
ELApp/local.properties
ELApp/ELApp.iml
ELApp/ELApp.iml
ELApp/local.properties
ELApp/local.properties
ELApp/local.properties
ELApp/local.properties
